header {
  border: 5px solid black;
  height: 100px;
}
.navbar {
  border: 3px solid blue;
  height: 20px;
  width: 20%;
  margin: 5px;

}
section {
  border: 5px solid black;
  height: 250px;
}
.title {
  border: 3px solid red;
  height: 20px;
}
.text {
  border: 3px solid black;
  height: 75px;
  margin: 20px;
}
.content {
  border: 3px solid black;
  height: 10px;
  width: 40%;
  margin: 5px auto
}
.time {
  border: 3px solid black;
  height: 10px;
  margin-top: 5px;
  width: 40%;
  margin: 5px auto
}
.polygon {
  border: 3px solid black;
  height: 10px;
  margin-top: 5px;
  width: 50%;
  margin: 10px auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .text{
    width: 40%;
    float: left;
  }
  .time {
    float: left;
    margin: 10px;
  }
  .content{
    float: right;
    margin: 10px;

  }
  .navbar {
    width: 90%;
    padding-left: 50px;
  }
  .polygon{
    width: 40%;
    float: left;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .text{
    width: 40%;
    float: left;
  }
  .time {
    float: left;
  }
  .content{
    float: right;
  }
  .navbar {
    width: 90%;
    padding-left: 50px;
  }
  .polygon{
    width: 40%;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .text{
    width: 40%;
    float: left;
  }

  .time {
    float: left;
  }
  .content{
    float: right;
  }
  .navbar {
    width: 90%;
    padding-left: 50px;
  }
  .polygon{
    width: 40%;
    float: left;
  }
}
